.calculator {
  width: 100%;
  background: #000;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: 400px) {
    width: 400px;
  }

  .calc_btns {
  	display: flex;
  	justify-content: space-around;
  }
} 