.NumberBtn {
	background: #a6a6a6;
	color: #000;
	text-align: center;
	font-size: 30px;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	line-height: 90px;
	margin-bottom: 10px;

	&.grow {
		flex-grow: 0.9;
		border-radius: 50px;
		text-align: left;
		padding-left: 35px;
	}
}